$primary-color: #286efa;
$primary-bg-light: #f9f9f9;
$default-color: #393939;
$color-danger: #f53c3c;

:root {
	--primary-color: #{$primary-color};
	--primary-bg-light: #{$primary-bg-light};
	--default-color: #{$default-color};
	--color-danger: #{$color-danger};
}

h2 {
	font-size: 3rem;
	margin-bottom: 1.5rem;
}

h3 {
	font-size: 2.8rem;
	margin-bottom: 1.5rem;
}

h4 {
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}
